body {
  padding-top: 50px;
}

section {
  margin-bottom: 20px;
}

.content h1 {
  margin-bottom: 20px;
}

.content .skills {
  border-right: thick solid #eee;
}

.content .skills button {
  margin-bottom: 4px;
}

.content .repo-icon {
  width: auto;
  height: 20px;
}

.separator {
  width: 45%;
}

.thumbnails {
  margin-bottom: 10px;
}

.thumbnails a {
  margin: 0 5px;
}

.thumbnails img {
  width: auto;
  height: 35px;
}